<app-topbar></app-topbar>
<div>
    <app-sidebar></app-sidebar>
    <div class="wrapper">
        <div class="nav">
            <ul id="inner_nav">
                <li class="ap active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/dashboard/list">All Products</a>
                </li>
                <li class="is" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/dashboard/in-stock">In Stock</a>
                </li>
                <li class="los" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/dashboard/low-on-stock">Low On Stock</a>
                </li>
                <li class="oos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/dashboard/out-of-stock">Out Of Stock</a>
                </li>
            </ul>
            <a class="add_product" routerLink="/dashboard/add-product">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div class="interface">
            <div class="inner-wrapper">
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="Low On Stock">Low On Stock</p>
                    </div>
                </div>
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="In Stock">In Stock</p>
                    </div>
                </div>
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="Out Of Stock">Out  Of Stock</p>
                    </div>
                </div>
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="Low On Stock">Low On Stock</p>
                    </div>
                </div>
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="Low On Stock">Low On Stock</p>
                    </div>
                </div>
                <div class="product">
                    <div></div>
                    <div class="title">
                        <p>Title here</p>
                        <span>description here</span>
                    </div>
                    <div class="code intersect">
                        <p>
                            <span>code</span>
                            123456789
                        </p>
                    </div>
                    <div class="quantity intersect">
                        <p>
                            <span>Quantity</span>
                            50
                        </p>
                    </div>
                    <div class="price intersect">
                        <p>
                            <span>Price</span>
                            $20.05
                        </p>
                    </div>
                    <div class="status">
                        <p class="Low On Stock">Low On Stock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat_bot">
    <app-chatbot></app-chatbot>
</div>