
<app-topbar></app-topbar>
<div>
    <app-sidebar></app-sidebar>
    <div class="wrapper">
        <div class="nav">
            <ul id="inner_nav">
                <li class="ap active" (click)="change($event, 0)">
                    <a routerLink="/dashboard/list/">All Products</a>
                </li>
                <li class="is" (click)="change($event, 1)">
                    <a >In Stock</a>
                </li>
                <li class="los" (click)="change($event, 2)">
                    <a >Low On Stock</a>
                </li>
                <li class="oos" (click)="change($event, 3)">
                    <a >Out Of Stock</a>
                </li>
            </ul>
            <a class="add_product" routerLink="/dashboard/add-product">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div class="interface" >
            <div class="inner-wrapper">
                <app-all *ngIf="changeindex == 0"></app-all>
                <app-in-stock *ngIf="changeindex == 1"></app-in-stock>
                <app-low-on-stock *ngIf="changeindex == 2"></app-low-on-stock>
                <app-out-of-stock *ngIf="changeindex == 3"></app-out-of-stock>
            </div>
        </div>
    </div>
</div>

<div class="chat_bot">
    <app-chatbot></app-chatbot>
</div>