<div class="container">
    <div class="wrapper">
        <h4>Administrator</h4>
        <div class="section">
            <div class="start">
                <img src="../../../assets/img/Avatar.png" alt="avatar image">
            </div>
            <div class="between">
                <p>
                    <span> {{name+' '+last_name}} </span> <br>
                    <span class="second"> {{email}} </span>
                </p>
            </div>
        </div>
        <div class="bottom">
                <span>Joined at</span>
                <span class="second">{{joined_at}}</span>
        </div>
        <div class="bottom">
                <span>Role</span> <br>
                <span class="second">{{role}}</span>
        </div>
    </div>
</div>