<div class="container">
    <div class="wrapper">
        <h4>Administrator</h4>
        <div class="section">
            <div class="start">
                <img src="../../../assets/img/Avatar.png" alt="avatar image">
            </div>
            <div class="between">
                <p>
                    <span> Syndra </span> <br>
                    <span class="second"> Syndra.hill020@gmail.com </span>
                </p>
            </div>
        </div>
        <div class="bottom">
                <span>Joined at</span>
                <span class="second">30 October 2020</span>
        </div>
        <div class="bottom">
                <span>Role</span> <br>
                <span class="second">Admin</span>
        </div>
    </div>
</div>