<div class="container">
    <div class="wrapper">
        <div class="section">
            <img src="../../../assets/img/watch.jpg" alt="product logo">
            <div>
                <span>Watch with white leather strap</span> <br>
                <span class="second">Lorem ipsum dolor sit amet, consectetur.</span>
            </div>
            <a href="#">
                <img src="../../../assets/logo/arrow left.png" alt="arrow left logo">
            </a>
            <a href="#">
                <img src="../../../assets/logo/listing.png" alt="listing logo">
            </a>
        </div>
    </div>
</div>