<div class="container">
    <div class="wrapper">
        <div class="section">
            <img src="../../../assets/product/{{images[0]}}" alt="product logo">
            <div>
                <span>{{name}}</span> <br>
                <span class="second"> {{description | slice:0:20}} </span>
            </div>
            <a (click)="Redirect(id)">
                <img src="../../../assets/logo/arrow left.png"  alt="arrow left logo">
            </a>
            <a routerLink="/dashboard/list/">
                <img src="../../../assets/logo/listing.png" alt="listing logo">
            </a>
        </div>
    </div>
</div>