<div class="container">
    <div class="wrapper">
        <div class="product_box all_products">
            <img src="../../../assets/logo/products.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> All Products </span>
                <span class="data"> 15856 </span>
            </div>
        </div>
        <div class="product_box out_of_stock_products">
            <img src="../../../assets/logo/stock.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> Low on Stock </span>
                <span class="data"> 158 </span>
            </div>
        </div>
        <div class="product_box unconfirmed_products">
            <img src="../../../assets/logo/unconfirmed.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> Unconfirmed Products </span>
                <span class="data"> 15 </span>
            </div>
        </div>
        <div class="total_sails">
            <p>Total Sails</p>
            <div>
                <p>Admin Store <br><span> $150,000.000 </span></p>
                <span></span>
                <i class="fas fa-store"></i>
            </div>
        </div>
    </div>
</div>