<div class="container">
    <div class="wrapper">
        <div class="product_box all_products">
            <img src="../../../assets/logo/products.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> Products In Stock </span>
                <span class="data"> {{instock}} </span>
            </div>
        </div>
        <div class="product_box out_of_stock_products">
            <img src="../../../assets/logo/stock.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> Products Low on Stock </span>
                <span class="data"> {{lowonstock}} </span>
            </div>
        </div>
        <div class="product_box unconfirmed_products">
            <img src="../../../assets/logo/unconfirmed.png" alt="products logo">
            <div class="inner_text">
                <span class="text"> Products Out Of Stock </span>
                <span class="data"> {{outofstock}} </span>
            </div>
        </div>
        <div class="total_sails">
            <p>Total Products</p>
            <div>
                <p>U.Stock Store <br><span> {{products}} </span></p>
                <span></span>
                <i class="fas fa-store"></i>
            </div>
        </div>
    </div>
</div>