<form [formGroup]="testing" (ngSubmit)="test(testing.value, $event)">
    <input type="file" name="image" multiple (change)="onFileSelected($event)" />
    <button type="submit" (click)="AddImage()">upload</button>
</form>
<form [formGroup]="updateProduct" *ngIf="updateProduct" (ngSubmit)="UpdateProduct(updateProduct.value, $event)" class="spliter">
    <div class="left">
        <div class="images">
            <div class="image_box" *ngFor="let image of images">
                <img src="../../../../assets/product/{{image}}" alt="product image">
            </div>
            <div class="image_box add">
                <span>+</span>
            </div>
        </div>
        <div class="column">
            <div class="input-group">
                <h2>Quantity</h2>
                <input type="text" formControlName="quantity" id="quantity">
            </div>
            <div class="input-group">
                <h2>Price</h2>
                <input type="text" formControlName="price" id="price">
            </div>
        </div>
        <div class="column">
            <div class="input-group">
                <h2>Internal Information</h2>
                <textarea type="text" formControlName="info" id="info"></textarea>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="column">
            <div class="input-group">
                <h2>Name</h2>
                <input type="text" formControlName="name" id="name">
            </div>
        </div>
        <div class="column">
            <div class="input-group">
                <h2>Description</h2>
                <textarea type="text" formControlName="description" id="description"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary"> Save </button>
    </div>
</form>