@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')

@import '../../../_variables.sass'
 
.container
    width: 95%
    margin: 0 auto
    .wrapper
        position: relative
        margin-top: 20px
        background: $white
        height: 80px
        -webkit-box-shadow: $boxShadow
        -moz-box-shadow: $boxShadow
        box-shadow: $boxShadow
        border-radius: 20px
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 10px 100px
        place-items: center
    .logo 
        img 
            width: 50px
    .profile 
        place-self: center
        img 
            margin-top: 20px
            width: 50px
    .route
        span
            font-weight: bold
            font-size: 26px
            font-family: 'Quicksand regular', sans-serif

.nav-container 
    display: none
    position: absolute
    z-index: 2
    top: 50px
    right: 30px
    background: $primaryLight
    width: 100px
    text-align: center
    padding: 20px 10px
    border-radius: 20px
.nav
    list-style: none
    a
        color: white
        font-family: 'Quicksand, medium', sans-serif
        font-size: 14px
        &:hover  
            cursor: pointer
            color: $secondary

.show_nav
    width: 50px
    &:hover 
        .nav-container 
            display: inherit