<div class="container">
    <div class="wrapper">
        <div class="logo">
            <img src="../../../assets/logo/ustock.png" alt="u.stock logo">
        </div>

        <div class="route">
            <span> U.Stock </span>
        </div>
        
        <div class="profile">
            <div class="show_nav">
                <img src="../../../assets/img/Avatar.png" alt="avatar image">
                <div class="nav-container">
                    <ul class="nav">
                        <li>
                            <a (click)="signOut()">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>