<app-topbar></app-topbar>
<div>
    <app-sidebar></app-sidebar>
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="spliter">
                <div class="left">
                    <div class="image"><img src="../../../assets/avatar/avatar.jpg" alt="avatar picture"></div>
                    <div class="content">
                        <h2>Susan lily</h2>
                        <p>California los angelos</p>
                        <p>susan.lily@gmail.com</p>
                    </div>
                </div>

                <div class="right">
                    <form [formGroup]="profileform" *ngIf="profileform" (ngSubmit)="UpdateProfile($event, profileform.value)">
                        <div class="avatar">
                            <img src="../../../assets/avatar/avatar.jpg" alt="avatar picture">
                            <a>Edit</a>
                        </div>
                        <div class="column">
                            <div class="input-group">
                                <h2>Name</h2>
                                <input type="text" formControlName="name" id="name">
                            </div>
                            <div class="input-group">
                                <h2>LastName</h2>
                                <input type="text" formControlName="last_name" id="lastname">
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-group">
                                <h2>Email</h2>
                                <input type="email" formControlName="email" id="email">
                            </div>
                            <div class="input-group">
                                <h2>Address</h2>
                                <input type="text" formControlName="address" id="address">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary"> Save </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat_bot">
    <app-chatbot></app-chatbot>
</div>