//font
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')

//variables
@import '_variables.sass'

html 
    scroll-behavior: smooth-scroll


* 
    font-family: 'Quicksand', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box    

body
    background-color: $gray
    overflow-y: hidden

//scrollbar
/* width */
::-webkit-scrollbar 
    width: 15px


/* Track */
::-webkit-scrollbar-track 
    background: $lightGray
    border-radius: 50px

/* Handle */
::-webkit-scrollbar-thumb 
    background: $primaryLight
    border-radius: 50px


/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
    background: $primaryLighter

/* Global */

//links
a
    cursor: pointer

//buttons
.btn
    padding: 10px 15px
    border-radius: 10px
    font-family: 'Quicksand medium', sans-serif
    font-size: 16px
    cursor: pointer

.btn-primary  
    background: $primary
    color: white
    border: 1px solid transparent
    transition: 0.3s all ease-in-out
    &:hover 
        background: white
        color: $primary
        border: 1px solid $primary
        transition: 0.3s all ease-in-out

.btn-secondary  
    background: $secondary
    color: white
    border: 1px solid transparent
    transition: 0.3s all ease-in-out
    &:hover 
        background: white
        color: $secondary
        border: 1px solid $secondary
        transition: 0.3s all ease-in-out

//input text field
input, textarea
    resize: none
    background: $lightGray
    border: 1px solid transparent
    border-radius: 10px
    padding: 10px
    padding-left: 15px